.accordionIcon {
    color: transparent;
    background-image: url("assets/icons/blackArrow.svg");
    height: 12px;
    width: 20px;
}

.accordionIcon--isOpen {
    transform: scaleY(-1);
}

.menuContainerNav--full-width {
    width: 100%;
}

.styledLinkContent--blue-bold {
    color: #441AFA;
    font-weight: bold;
}

.styledLinkContent--black-bold {
    color: #25282A;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {

    .styledLinkContent--my-account,
    .styledLinkContent--drawer-partner {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .menuItem--drawer-margin {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .menuItem--drawer-margin--isClosed {
        border: solid;
        border-color: #EEEEEE;
        border-width: 1px;
    }

    .styledLinkContent--drawer-subcategory {
        color: #8C8F90;
    }
}

@media screen and (min-width: 1000px) {
    .menuContainerNav--main-menu-header-desktop .styledLinkContainer {
        padding: 0;
    }
    .menuContainerNav--main-menu-header-desktop .styledLinkContainer--drawer-margin{        
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.menuContainerNav--main-menu-header-desktop {
    display: flex;
    align-items: center;
}

.menuContainerNav--main-menu-header-desktop .styledLinkContainer {
    margin-left: 2rem;
    margin-right: 2rem;
}

.styledLinkContent--header-item-submenu {
    font-size: 14px;
    line-height: 19px;
}

.styledLinkContainer--header-item-submenu {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.menuItem--header-menu-all-departments {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #441AFA;
    width: 300px;
}

.styledLinkContent--header-menu-all-departments {
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    position: relative;
}

.styledLinkContent--header-menu-all-departments::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 20px;
    height: 14px;
    background-image: url("assets/icons/hamburguer-branco.png");
}

.submenuWrapper--submenu-all-departments {
    height: 366px;
    width: 300px;
    border-right: solid;
    border-width: 1px;
    border-color: #EEEEEE;
    position: absolute;
    left: -256px;
    top: 20px;    
}

.submenu--submenu-all-departments,
.submenu--submenu-categories,
.submenu--submenu-subcategories {
    justify-content: flex-start;
}

.submenuWrapper--submenu-categories, 
.submenuWrapper--submenu-subcategories {
    height: 366px;
    width: 300px;
    border-right: solid;
    border-width: 1px;
    border-color: #EEEEEE;
    position: absolute;
    left: 300px;
}

.submenuWrapper--submenu-category1 {
    top: -51px;
}

.submenuWrapper--submenu-category2 {
    top: -90px;
}

.submenuWrapper--submenu-category3 {
    top: -129px;
}

.menuContainer--main-menu-header-desktop .submenuWrapper--submenu-category1,
.menuContainer--main-menu-header-desktop .submenuWrapper--submenu-category2 {
    top: 0px;
    left: 0px;
}

.submenuWrapper--submenu-subcategory1 {
    top: -105px;
}

.submenuWrapper--submenu-subcategory2 {
    top: -144px;
}

.submenuWrapper--submenu-subcategory3 {
    top: -183px;
}

.submenu--submenu-all-departments .menuContainerNav {
    width: 100%;
}

.menuItem--header-item-submenu {
    position: relative;
}

.submenu--submenu-all-departments 
.styledLinkContainer--header-item-department::after,
.submenuWrapper--submenu-categories
.styledLinkContainer--header-item-category::after {
    content: "";
    position: absolute;
    left: 260px;
    top: 14px;
    height: 11px;
    width: 20px;
    background-image: url("assets/icons/blackArrow.svg");
    transform: rotate(-90deg);
}

.submenu--submenu-all-departments 
.menuItem--header-item-department--isOpen 
.styledLinkContainer--header-item-department::after,
.menuItem--header-item-category--isOpen 
.styledLinkContainer--header-item-category::after {
    transform: rotate(90deg);
}

.styledLinkContent--my-account {
    color: #441AFA;
    font-weight: bold;
}

.styledLinkContent--drawer-partner {
    color: #25282A;
    font-weight: bold;
}

.menuItem--drawer-partner {
    background-color: #EEEEEE;
}

.menuItem--drawer-margin--isOpen .styledLinkContent--drawer-margin {
    color: #441AFA;
    font-weight: bold;
}

.menuItem--drawer-category--isOpen .styledLinkContent--drawer-category {
    color: #441AFA;
    font-weight: bold;
}

.menuItem--drawer-subcategory,
.menuItem--drawer-category {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 19px;
}


.styledLinkContent--drawer-see-more {
    text-decoration: underline;
    font-weight: bold;
}


.menuContainer--menu-footer-desktop .styledLinkContainer {
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 17px;
}

.styledLinkContent--footer-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.menuContainer--accordion-menu-itens:global(.vtex-menu-2-x-menuItem) {
    padding-top: 4px;
    padding-bottom: 4px;
}

.menuContainer--footer-title:global(.vtex-menu-2-x-menuItem) {
    margin-top: 8px;
    margin-bottom: 8px;
}