.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.container {
  max-width: 1252px;
  padding: 0px;
}

@media screen and (max-width: 1000px) {
  .infoCardContainer--info-card-home-people {
    display: flex;
    flex-flow: column-reverse;
  }

  .infoCardTextContainer--info-card-home-people{
    margin: 0 20px;
  }
}


.infoCardContainer--info-card-home-people {
  margin-top: 45px;
  background-color: #F5F5F5;
}

.infoCardHeadline--info-card-home-people {
  font-size: 32px;
  line-height: 43px;
  letter-spacing: 9.6px;
  color: #441AFA;
}

.infoCardSubhead--info-card-home-people {
  font-size: 1rem;
  line-height: 1.375rem;
  max-width: 474px;
}

@media screen and (min-width: 1000px) {

  /* desktop */
  .infoCardHeadline--info-card-home-people {
    font-size: 2.5rem;
    line-height: 55px;
    letter-spacing: 0.825rem;
    color: #441AFA;
  }

  .infoCardSubhead--info-card-home-people {
    font-size: 0.75rem;
    line-height: 17px;
    color: #B1B3B3;
  }

  .infoCardContainer--info-card-home-people {
    margin-top: 80px;
  }
}

.infoCardCallActionContainer--info-card-home-people :global(.vtex-button) {
  background-color: transparent;
  color: black;
  border-radius: 0;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 1.2px;
}














@media screen and (max-width: 1000px) {
  .imageElement--banner-newin {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .imageElement--banner-newin {
    width: 616px;
    height: 569px;
    margin-right: 10px;
  }

  .imageElement--banner-sale {
    width: 616px;
    height: 569px;
    margin-left: 10px;
  }
}


.logoContainer {
  padding: 0;
}

.searchBarIcon {
  color: white;
}

.searchBarInnerContainer :global(.vtex-input__suffix) {
  background-color: #441AFA;
  border-radius: 0px;
}

.searchBarContainer {
  margin-right: 1rem;
  margin-left: 1rem;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.imageElement--logo-footer {
  padding-right: 1rem;
  border-right: solid;
  border-right-width: 1px;
  margin-right: 1rem;
  align-items: center;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}