.container--deals {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .container--deals .paragraph {
    width:max-content;
    margin: 0;
  }
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--top-bar {
  color: #B1B3B3;
  font-size: 12px;
}

.paragraph--top-bar {
  margin: 0;
}

.paragraph--right-border {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B1B3B3;
}


.paragraph--shiping-topbar {
  margin: 0;
  color: #B1B3B3;
  font-size: 12px;
  line-height: 17px;
}

.container--sac-topbar {
  text-decoration: underline;
  color: #25282A;
  padding-right: 1rem;
}


.container--shiping-topbar {
  justify-content: center;
}

.paragraph--header-submenu-title {
  color: #441AFA;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}

.container--newsletter-description {
  margin-right: 45px;
  margin-left: 45px;
}

.container--newsletter-title {
  margin-left: 45px;
  margin-right: 45px;
}

.paragraph--newsletter-title {
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  color: #441AFA;
  letter-spacing: 2px;
  margin-bottom: 0;
}

@media screen and (min-width: 1000px) {
  .container--newsletter-title {
    position: relative;
  }
  .wrapper--newsletter-title::before {
    content: "";
    position: absolute;
    width: 308px;
    height: 348px;
    background-image: url(assets/logos/logo-transparente.png);
    pointer-events: none;
    right: 481px;
    top: 19px;
  }
}


.paragraph--newsletter-description {
  font-size: 16px;
  line-height: 22px;
}

.paragraph--credits-footer {
  font-size: 11px;
  line-height: 15px;
}

<<<<<<< HEAD
=======
<<<<<<< Updated upstream
.paragraph--right-border {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B1B3B3;
}

=======
.paragraph--home-department-title{
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.6px;
  margin: 0;
  margin-bottom: 20px;
}






>>>>>>> Stashed changes
>>>>>>> home
.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}