.accordionIcon {
    color: transparent;
    background-image: url("assets/icons/blackArrow.svg");
    height: 12px;
    width: 20px;
}

.accordionIcon--isOpen {
    transform: scaleY(-1);
}

.menuContainer--menu-footer-desktop .styledLinkContainer{
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 17px;
} 

.styledLinkContent--footer-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.menuContainer--accordion-menu-itens:global(.vtex-menu-2-x-menuItem) {
    padding-top: 4px;
    padding-bottom: 4px;
}

.menuContainer--footer-title:global(.vtex-menu-2-x-menuItem) {
    margin-top: 8px;
    margin-bottom: 8px;
}