.flexRowContent--top-bar,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {

  .flexRowContent--top-bar,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--top-bar,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--top-bar {
  background-color: #25282A;
  color: #B1B3B3;
  height: 2rem;
}

.flexRowContent--row1-centered {
  width: 1252px;
}

.flexRow--main-header {
  display: flex;
  justify-content: center;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
  width: 1252px;
}

.flexRowContent--main-header :global(.vtex-store-components-3-x-searchBarContainer) {
  width: 615px;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--top-bar :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

<<<<<<< Updated upstream
=======
.flexRow--newsletter-row {
  background-image: url("assets/logos/logo-transparente.png");
  background-repeat: no-repeat;
  background-size: 308px 348px;
  background-position: calc(50vw - 308px - 56px - 1rem) 12px;
  pointer-events: none;
}

>>>>>>> Stashed changes
.flexCol--newsletter-col .flexColchild {
  width: 100%;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.flexRowContent--social-footer {
  gap: 2rem;
  margin-top: 2rem;
}

.flexCol--bottom-line,
.flexRowContent--bottom-line {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #25282A;
}

.flexRowContent--company-icons {
  align-items: center;
}

.flexRowContent--icon-gaps {
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.flexRowContent--footer-row-1-desktop{
  padding: 40px 0;
  align-items: center;
}

.flexColChild--left-align {
  justify-content: flex-start;
}

.flexRow--credits {
  background-color: #FFFFFF;
}


.vtex-flex-layout-0-x-flexRow--credits .vtex-flex-layout-0-x-flexRow--company-icons .vtex-flex-layout-0-x-stretchChildrenWidth:first-child {
  padding-right: 13px;
  margin-right: 8px;
  border-right: 1px
}

.flexRowContent--deals {
  background-color: #EEEEEE;
  margin: 10px 0px;
  height: 4rem;
}

.flexRowContent--carousel-deals {
  align-items: center;
}

.flexRowContent--home-department-row {
  margin-top: 40px ;
}

@media screen and (max-width: 1000px) {
  .flexRowContent--home-department-row {
    margin-top: 20px;
  }
}



.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexColChild {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}